html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 40px;
    margin-bottom: 60px;
}

#search {
    width: 200px;
}

#sitemap {
    height: 400px;
    overflow-y: scroll;
}

#chart_panel {
    display: none;
    margin-bottom: 40px;
}

#column_chart {
    height: 400px;
    overflow-y: hidden;
    overflow-x: auto;
}

#test_results {
    margin-top: 40px;
    margin-bottom: 40px;
}

#menu {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #f5f5f5;
}

.text-muted {
    margin: 20px 0;
}

.field-validation-error {
    color: red;
    display: block;
}